@charset "UTF-8";
/**
 * Raw Colors - Try not to use these within actual styles!
 *
 * Colour names ref: http://chir.ag/projects/name-that-color
 */
/**
 * Purpose-based colors
 */
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
	display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
	display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */
body {
	margin: 0;
	/* min-height: 100%; */
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
	outline: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
	outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: #ff0;
	color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
	white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
	quotes: "\201C""\201D""\2018""\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
	border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
	overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
	margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 2 */
	margin: 0;
	/* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
	line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	/* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
	overflow: auto;
	/* 1 */
	vertical-align: top;
	/* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==========================================================================
   Custom Defaults
   ========================================================================== */
.slider-wrapper {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

body {
	font-family: sans-serif;
	color: #111;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
}

.btn {
	box-sizing: border-box;
	display: inline-block;
}

/*
* Hide only visually, but have it available for screen readers: h5bp.com/v
*/
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0 !important;
	position: absolute !important;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.newslisting--item {
	margin-bottom: 20px;
}

.news-item {
	margin-bottom: 40px;
}

.news-item--gallery {
	display: none;
	box-sizing: border-box;
	padding-right: 40px;
}

.news-item--gallery-item {
	width: 100%;
	height: auto;
}

.news-item--gallery-item:before {
	content: ".";
	opacity: 0;
}

.news-item--article {
	padding: 0 10px;
}

.news-item--date {
	font-size: 14.66667;
	font-size: 0.91667rem;
	text-transform: uppercase;
	line-height: 1;
	position: relative;
	padding-left: 35px;
	margin: 20px 0;
}

.news-item--date:before {
	font-size: 30px;
	font-size: 1.875rem;
	font-family: "playstreet";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	content: "a";
	vertical-align: middle;
	width: 30px;
	height: 30px;
	position: absolute;
	opacity: 0.6;
	left: 0;
	top: -1px;
	color: #939598;
}

@media only screen and (min-width: 768px) {
	.news-item {
		padding: 0 20px;
		overflow: hidden;
	}
	.news-item--article,
	.news-item--gallery {
		display: block;
		width: 50%;
		float: left;
	}
	.news-item--article {
		border-top: 1px dotted #b3b3b3;
		padding: 0;
	}
	.news-item--date {
		margin: 40px 0;
	}
}

@media only screen and (min-width: 960px) and (orientation: landscape) {
	.news-item {
		padding: 0;
	}
}

.richtext a {
	color: #939598;
}

.richtext h4 {
	text-transform: uppercase;
}

.ut-subdued {
	color: #939598;
}

.read-more-cutter {
	display: block;
	color: #939598;
}

.read-more-cutter ~ * {
	display: none;
}

.read-more-cutter.is-active {
	display: none;
}

.read-more-cutter.is-active ~ * {
	display: block;
}

.no-js .read-more-cutter {
	display: none;
}

/*
* .project--details
*/
.project--details {
	*zoom: 1;
	padding: 50px 0;
	color: white;
}

.project--details:before,
.project--details:after {
	content: " ";
	display: table;
}

.project--details:after {
	clear: both;
}

.project--details__green {
	background: #5cbc6e;
}

.project--details__yellow {
	background: #ffd800;
}

.project--details__red {
	background: #f37578;
}

.project--header {
	*zoom: 1;
	clear: both;
}

.project--header:before,
.project--header:after {
	content: " ";
	display: table;
}

.project--header:after {
	clear: both;
}

.project--header,
.project--content-container {
	padding: 0 20px;
}

.project--title {
	font-size: 37.33333;
	font-size: 2.33333rem;
	font-weight: bolder;
	margin: 0;
}

.project--type {
	font-size: 14.66667;
	font-size: 0.91667rem;
	text-transform: uppercase;
	line-height: 1;
	position: relative;
	padding-left: 30px;
	margin: 20px 0 30px 0;
}

.project--type:before {
	font-size: 32px;
	font-size: 2rem;
	font-family: "playstreet";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	content: "a";
	vertical-align: middle;
	width: 2rem;
	height: 2rem;
	position: absolute;
	opacity: 0.6;
	left: 0;
	top: -2px;
	color: white;
}

.project--gallery {
	padding: 0 20px;
}

.project--gallery img {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.project--gallery img:first-child {
	margin-top: 40px;
}

@media only screen and (min-width: 960px) and (orientation: landscape) {
	.project--header,
	.project--content-container {
		padding: 0;
	}
	.project--content-container {
		display: table;
	}
	.project--content {
		padding-right: 5%;
	}
	.project--secondary-content {
		font-size: 12;
		font-size: 0.75rem;
		padding-left: 5%;
		border-left: 1px dotted white;
	}
	.project--secondary-content ul {
		margin-left: 10px;
	}
	.project--content,
	.project--secondary-content {
		display: table-cell;
		box-sizing: border-box;
		width: 50%;
		height: 100%;
	}
	.project--content h4,
	.project--content h5,
	.project--secondary-content h4,
	.project--secondary-content h5 {
		text-transform: uppercase;
	}
	.project--content h4:first-child,
	.project--content h5:first-child,
	.project--secondary-content h4:first-child,
	.project--secondary-content h5:first-child {
		margin-top: 0;
	}
	.project--content p:last-child,
	.project--content ul:last-child,
	.project--secondary-content p:last-child,
	.project--secondary-content ul:last-child {
		margin-bottom: 0;
	}
	.project--content {
		width: 65%;
	}
	.project--secondary-content {
		width: 35%;
	}
	.project--gallery {
		padding: 0;
	}
}

/*
* .slider
*/
.slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide {
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.slide.active {
	opacity: 1;
}

.slide--attribution {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
	text-transform: uppercase;
}

.slider-sections {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: 60%;
}

.slider-sections .slider-section--title {
	font-size: 46px;
	font-size: 2.875rem;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	max-width: 370px;
	margin: 0 auto;
	color: white;
	opacity: 0.6;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

.slider-sections .slider-section--title.active {
	opacity: 1;
}

.slider-sections .slider-section--title.active[data-scheme="red"] {
	color: #f37578;
}

.slider-sections .slider-section--title.active[data-scheme="yellow"] {
	color: #ffd800;
}

.slider-sections .slider-section--title.active[data-scheme="green"] {
	color: #5cbc6e;
}

.pips {
	*zoom: 1;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	z-index: 10;
	top: 90%;
	left: 50%;
}

.pips:before,
.pips:after {
	content: " ";
	display: table;
}

.pips:after {
	clear: both;
}

.pip {
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
	opacity: 0.8;
	float: left;
	margin: 5px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: white;
}

.pip.active,
.pip:hover {
	cursor: pointer;
	background: black;
}

@media only screen and (min-width: 768px) {
	.home .site-header {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		position: absolute;
		width: 100%;
		top: 0;
		left: 50%;
	}
}

body,
html {
	/* height: 100%; */
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 30px;
	font-size: 1.875rem;
}

.wrap {
	max-width: 1080px;
	margin: 0 auto;
}

.bgtheme-one,
.bgtheme-two {
	background: none center top no-repeat;
	background-size: 100% auto;
	background-image: url("../images/bgprojects.jpg");
}

/*
* .site-header / .logo
*/
.logo {
	position: relative;
	z-index: 20;
	display: inline-block;
	vertical-align: middle;
	width: 105px;
}

.logo img {
	width: 100%;
	height: auto;
	display: block;
}

.logo--text {
	-webkit-transition: fill 300ms ease-in-out;
	transition: fill 300ms ease-in-out;
}

.dark .logo--text {
	fill: black;
}

.logo--slash {
	-webkit-transition: fill 300ms ease-in-out;
	transition: fill 300ms ease-in-out;
}

.red .logo--slash {
	fill: #f37578;
}

.green .logo--slash {
	fill: #5cbc6e;
}

.yellow .logo--slash {
	fill: #ffd800;
}

.grey .logo--slash {
	fill: #bcbec0;
}

.nav-is-open .logo .logo--text {
	fill: black;
}

.site-header {
	box-sizing: border-box;
	padding: 10px;
}

@media only screen and (min-width: 768px) {
	.logo {
		margin-top: 0;
	}
	.site-header {
		*zoom: 1;
		padding: 40px 20px;
		position: relative;
		z-index: 5;
	}
	.site-header:before,
	.site-header:after {
		content: " ";
		display: table;
	}
	.site-header:after {
		clear: both;
	}
}

/*
* .primary-navigation
*/
.toggle-navigation {
	overflow: hidden;
	position: absolute;
	z-index: 20;
	top: 10px;
	right: 10px;
	text-decoration: none;
	color: black;
	width: 20px;
	height: 20px;
}

.toggle-navigation:before,
.toggle-navigation:after {
	position: absolute;
	top: 0;
	left: 0;
}

.toggle-navigation:before {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: "playstreet";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	content: "b";
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.toggle-navigation:after {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: "playstreet";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	content: "c";
	vertical-align: middle;
	width: 20px;
	height: 20px;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.toggle-navigation.active:after {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.toggle-navigation.active:before {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

@media only screen and (min-width: 768px) {
	.toggle-navigation {
		display: none;
	}
}

.primary-navigation {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	z-index: 15;
	position: absolute;
	background: rgba(255, 255, 255, 0.95);
	top: 0;
	left: 0;
	width: 100%;
	list-style: none;
	padding: 50px 0 0 0;
	margin: 0;
	overflow: hidden;
}

.primary-navigation.active,
.primary-navigation.active {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	box-shadow: 0px 10px 50px 0px rgba(50, 50, 50, 0.3);
}

.primary-navigation.active.light a,
.primary-navigation.active.light a {
	color: black;
}

.primary-navigation.light a {
	color: white;
}

.primary-navigation a {
	font-size: 15px;
	font-size: 0.9375rem;
	padding: 15px 0;
	display: block;
	position: relative;
	color: black;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.primary-navigation a.active:before,
.primary-navigation a:hover:before {
	opacity: 1;
	bottom: 0;
}

.primary-navigation a.active {
	font-weight: bold;
}

.primary-navigation a:before {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	left: 0;
	bottom: 10px;
	opacity: 0;
	border-bottom: 1px dotted;
}

@media only screen and (min-width: 768px) {
	.primary-navigation {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		padding: 0;
		box-shadow: 0;
		z-index: auto;
		position: static;
		background: none;
		width: auto;
		float: right;
	}
	.primary-navigation li {
		display: inline-block;
		margin-left: 50px;
	}
}

/*
* .STRUCTURE
*/
.structure {
	*zoom: 1;
	font-size: 14px;
	padding: 0 10px;
}

.structure:before,
.structure:after {
	content: " ";
	display: table;
}

.structure:after {
	clear: both;
}

@media only screen and (min-width: 768px) {
	.structure {
		padding: 0 50px;
	}
}

@media only screen and (min-width: 960px) and (orientation: landscape) {
	.structure {
		display: table;
	}
	.structure--primary,
	.structure--secondary,
	.structure--equal {
		box-sizing: border-box;
		display: table-cell;
		vertical-align: top;
	}
	.structure--primary {
		padding: 10px 5% 10px 0;
		width: 45%;
		border-right: 1px dotted #b3b3b3;
	}
	.structure--primary._align-middle {
		vertical-align: middle;
	}
	.structure--secondary {
		padding: 10px 0 10px 5%;
		width: 55%;
	}
}

/*
* .PAGE
*/

.page--cover {
	text-align: center;
}

.page--cover img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.page--content {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.page--content._fullsize {
		background: transparent;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

/*
* UTILITIES
*/
.u-centertext {
	text-align: center;
}

.u-uppercase {
	text-transform: uppercase;
}

/*
* .PROJECTLISTING
*/
.projectlisting {
	overflow: hidden;
	list-style: none;
	padding: 0 20px;
}

.projectlisting--item {
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}

.projectlisting--item a {
	display: block;
	position: relative;
	width: 100%;
	height: 200px;
	text-decoration: none;
}

.projectlisting--item a:hover .projectlisting--item-cover {
	opacity: 0.8;
}

.projectlisting--item-content {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	text-align: center;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	height: 40%;
	width: 100%;
}

.projectlisting--item-content:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
	/* Adjusts for spacing */
}

.projectlisting--item-content__green {
	background: rgba(92, 188, 110, 0.85);
}

.projectlisting--item-content__yellow {
	background: rgba(255, 216, 0, 0.85);
}

.projectlisting--item-content__red {
	background: rgba(243, 117, 120, 0.85);
}

.projectlisting--item-title {
	font-size: 19px;
	font-size: 1.1875rem;
	font-weight: bold;
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	color: white;
	text-transform: uppercase;
}

.projectlisting--item-cover {
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
	background-color: black;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	display: block;
}

@media only screen and (min-width: 768px) {
	.projectlisting {
		margin-left: -35px;
	}
	.projectlisting--item {
		box-sizing: border-box;
		width: 50%;
		float: left;
		padding-left: 35px;
		padding-bottom: 35px;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 960px) and (orientation: landscape) {
	.projectlisting--item {
		width: 33.33333%;
		padding-left: 35px;
		padding-bottom: 35px;
		margin-bottom: 0;
	}
	.projectlisting--item:hover .projectlisting--item-content,
	.projectlisting--item:hover img {
		opacity: 1;
	}
	.projectlisting--item-content {
		opacity: 0;
		height: 100%;
	}
}

@media only screen and (min-width: 1281px) and (orientation: landscape) {
	.projectlisting {
		padding: 0;
	}
}

/*
* Type Styles
*/
ul {
	padding: 0;
	margin: 0;
}

h1,
h2 {
	text-transform: uppercase;
}

h3 {
	font-size: 20;
	font-size: 1.25rem;
	font-weight: 300;
}

dl {
	*zoom: 1;
}

dl:before,
dl:after {
	content: " ";
	display: table;
}

dl:after {
	clear: both;
}

dt {
	font-weight: bold;
	width: 20%;
	float: left;
	clear: right;
}

dd {
	margin: 0;
	width: 80%;
	float: right;
}

.text--subdued {
	opacity: 0.7;
}

@media only screen and (min-width: 768px) {
	h3 {
		font-size: 24;
		font-size: 1.5rem;
		font-weight: 300;
	}
}

/*
* .person
*/
.person {
	*zoom: 1;
	padding-top: 45px;
}

.person:before,
.person:after {
	content: " ";
	display: table;
}

.person:after {
	clear: both;
}

.person--name,
.person--title {
	display: inline-block;
	margin: 0;
}

.person--name {
	font-size: 21.33333;
	font-size: 1.33333rem;
}

.person--title {
	font-size: 18.66667;
	font-size: 1.16667rem;
	text-transform: uppercase;
}

.person--creds {
	font-size: 12;
	font-size: 0.75rem;
	opacity: 0.7;
}

.person--bio {
	font-size: 13.33333;
	font-size: 0.83333rem;
}

.person--specialities {
	margin-top: 20px;
}

.person--speciality--green,
.person--speciality--yellow,
.person--speciality--red {
	font-size: 13.33333;
	font-size: 0.83333rem;
	-moz-osx-font-smoothing: auto;
	margin-bottom: 25px;
	text-transform: uppercase;
	line-height: 1;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	padding-left: 45px;
}

.person--speciality--green:before,
.person--speciality--yellow:before,
.person--speciality--red:before {
	font-size: 32px;
	font-size: 2rem;
	font-family: "playstreet";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	content: "a";
	vertical-align: middle;
	width: 2rem;
	height: 2rem;
	position: absolute;
	left: 0;
	top: -3px;
	color: #5cbc6e;
}

.person--speciality--yellow:before {
	color: #ffd800;
}

.person--speciality--red:before {
	color: #f37578;
}

@media only screen and (min-width: 768px) {
	.person--details {
		box-sizing: border-box;
		width: 70%;
		float: left;
		padding-right: 5%;
	}
	.person--specialities {
		margin-top: 0;
		width: 30%;
		float: left;
	}
}

@media only screen and (min-width: 960px) and (orientation: landscape) {
	.person:first-child {
		padding-top: 0;
	}
}

.primary h3 {
	margin-top: 0;
}

.lede {
	margin-bottom: 1.4em;
}

/*
* .contact
*/
.contact {
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
}

.contact--location {
	font-size: 21.33333;
	font-size: 1.33333rem;
	text-transform: uppercase;
	font-weight: bold;
}

.contact--address,
.contact--email {
	margin-top: 1rem;
}

.contact a,
.contact span {
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
	display: block;
	text-decoration: none;
	color: black;
}

.contact a:hover {
	opacity: 0.8;
}

@media only screen and (min-width: 768px) {
	/* .contact {
    box-sizing: border-box;
    -webkit-transform: none;
            transform: none;
    position: static;
    margin-bottom: 0;
  }
  .contact a {
    text-align: left;
    display: inline-block;
  }
  .contact a:after {
    content: '/';
    margin: 0 10px;
  }
  .contact a:last-child:after {
    content: '';
    margin: 0;
  } */
}

#map {
	height: 300px;
	width: 100%;
}

/*
* .site-footer
*/
.site-footer {
	position: relative;
	padding: 20px 0 60px 0;
	background: #eff0f0;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.site-footer .small-logo {
	display: block;
	margin: 0 auto 20px auto;
	width: 40px;
}

.site-footer .small-logo img {
	width: 100%;
	height: auto;
}

.site-footer .social a {
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
	padding: 3px 6px;
	color: #000;
	text-decoration: none;
}

.site-footer .social a:before {
	font-size: 16px;
	font-size: 1rem;
}

.site-footer .social a:hover {
	opacity: 0.6;
}

.site-footer .copyright {
	font-size: 14px;
	font-size: 0.875rem;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}

.site-footer .copyright--location {
	font-weight: bold;
}

.site-footer .copyright--location:first-child {
	margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
	.site-footer {
		padding: 40px 0 100px 0;
	}
	.site-footer .copyright {
		bottom: 40px;
	}
}

@media only screen and (min-width: 960px) and (orientation: landscape) {
	.site-footer {
		box-sizing: border-box;
		padding: 40px 20px 80px 20px;
		background: #eff0f0;
		color: #000000;
		text-transform: uppercase;
		text-align: center;
	}
	.site-footer .copyright {
		position: static;
		width: auto;
		margin-top: 30px;
		float: left;
	}
	.site-footer .social {
		margin-top: 30px;
		float: right;
	}
	.site-footer .social a {
		-webkit-transition: opacity 300ms ease-in-out;
		transition: opacity 300ms ease-in-out;
		padding: 0 5px;
		color: #000;
		text-decoration: none;
	}
	.site-footer .social a:hover {
		opacity: 0.6;
	}
	.site-footer .small-logo {
		margin: 0 auto;
		display: inline-block;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

@media only screen and (min-width: 1281px) and (orientation: landscape) {
	.site-footer {
		padding: 40px 0 135px 0;
	}
}

/* ------------------------------------------------------------------------------------------------

Shame
=====

1. 	If it’s a hack, it goes in shame.css.
2. 	Document all hacks fully:
  a. 	What part of the codebase does it relate to?
  b. 	Why was this needed?
  c. 	How does this fix it?
  d. 	How might you fix it properly, given more time?
3. 	Do not blame the developer; if they explained why they had to do it then their reasons are
probably (hopefully) valid.
4. 	Try and clean shame.css up when you have some down time.

via: http://csswizardry.com/2013/04/shame-css/

------------------------------------------------------------------------------------------------ */
