/*
Theme Name: Play Street
Author: Step
Author URI: https://www.greengraphics.com.au
Description: Awesome stuff
Version: 1.0.0
Text Domain: playstreet
Tags:

ggstyle is loosely based on Underscores.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menusf
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Asides
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

:focus,
:active {
	outline: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html,
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1,
h2,
h3 {
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 3.5em 1.5em 1.5em;
	font-size: 1.1rem;
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
		inset 0 15px 17px rgba(255, 255, 255, 0.5),
		inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
		inset 0 15px 17px rgba(255, 255, 255, 0.5),
		inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
		inset 0 15px 17px rgba(255, 255, 255, 0.8),
		inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
		inset 0 15px 17px rgba(255, 255, 255, 0.8),
		inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
		inset 0 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
		inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #0f81a4;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #02485d;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
nav a {
	border-bottom: 1px solid transparent;
	font-size: 1.5rem;
	margin: 0 15px;
	padding: 8px 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.main-navigation {
	display: block;
	padding: 8px 16px;
	position: relative;
	text-align: left;
	z-index: 9999;
	float: right;
}

.main-navigation .menu {
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	display: inline-block;
	position: relative;
}

.main-navigation a {
	font-size: 15px;
	font-size: 0.9375rem;
	padding: 15px 0;
	display: block;
	position: relative;
	color: black;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.main-navigation a:before {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	left: 0;
	bottom: 10px;
	opacity: 0;
	border-bottom: 1px dotted;
}

.main-navigation a.active:before,
.main-navigation a:hover:before {
	opacity: 1;
	bottom: 0;
}

.main-navigation a:hover {
}

.main-navigation ul ul {
	position: absolute;
	left: -999em;
	z-index: 99999;
	width: auto;
}

.main-navigation ul ul a {
	padding: 0.5em 0;
	color: #000;
	text-shadow: 1px 1px 2px white;
	font-size: 0.875rem;
}

@media (min-width: 768px) {
	.main-navigation ul ul {
		background-color: rgba(225, 225, 225, 0.75);
		box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.3);
	}

	.main-navigation ul ul a {
		white-space: nowrap;
	}
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li {
	display: block;
	float: none;
	margin: 0 1em;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
	/* border-bottom: 1px solid #808080; */
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	/* border-bottom: 1px solid #808080; */
}

.nav-header {
	display: none;
	padding: 16px;
	position: relative;
}

/* Small menu. */
.menu-toggle {
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: none;
	font: inherit;
	float: right;
	overflow: visible;
	padding: 0;
	text-shadow: none;
	text-transform: none;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter, -webkit-filter;
	-webkit-transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.menu-toggle:active,
.menu-toggle:hover {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.menu-toggle-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}
.menu-toggle-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-toggle.toggled .menu-toggle-inner {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-toggle-inner,
.menu-toggle-inner::before,
.menu-toggle-inner::after {
	width: 35px;
	height: 3px;
	background-color: #333;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	transition-property: -webkit-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}
.menu-toggle-inner::before,
.menu-toggle-inner::after {
	content: "";
	display: block;
}
.menu-toggle-inner::before {
	-webkit-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
	transition: top 0.1s 0.14s ease, opacity 0.1s ease;
	top: -10px;
}
.menu-toggle.toggled .menu-toggle-inner::before {
	top: 0;
	opacity: 0;
	-webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
	transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.menu-toggle-inner::after {
	bottom: -10px;

	transition: bottom 0.1s 0.14s ease,
		-webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-webkit-transition: bottom 0.1s 0.14s ease,
		-webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s 0.14s ease,
		transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s 0.14s ease,
		transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19),
		-webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-toggle.toggled .menu-toggle-inner::after {
	bottom: 0;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transition: bottom 0.1s ease,
		-webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-property: bottom, transform, -webkit-transform;
	-webkit-transition-duration: 0.1s, 0.1s, 0.1s;
	transition-duration: 0.1s, 0.1s, 0.1s;
	-webkit-transition-timing-function: ease,
		cubic-bezier(0.215, 0.61, 0.355, 1), cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: ease, cubic-bezier(0.215, 0.61, 0.355, 1),
		cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transition-delay: initial, 0.14s, 0.14s;
	transition-delay: initial, 0.14s, 0.14s;
	-webkit-transition: bottom 0.1s ease,
		-webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.1s ease,
		transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.1s ease,
		transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1),
		-webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main-navigation.toggled ul {
	display: block;
}

.main-navigation li.toggy {
	display: none;
}
.main-navigation.toggled ul li.toggy {
	display: block;
}

@media screen and (max-width: 768px) {
	.menu-toggle {
		display: block;
	}

	.menu-toggle:before {
		/*
	    content: 'MENU';
		color: #ccc;
		font-size: 28px;
		margin-right: 8px; */
	}

	.nav-logo {
		margin: 0 auto;
		max-width: 80%;
	}
	.nav-close {
		color: white;
		cursor: pointer;
		position: absolute;
		top: 8px;
		right: 8px;
		height: 20px;
		width: 20px;
	}

	.main-navigation {
		height: 55px;
		/* z-index: 21; */
		padding: 8px 0 10px;
	}

	.main-navigation .menu {
		background: rgba(255, 255, 255, 0.95);
		bottom: 0;
		left: -100vw;
		padding: 64px 8px;
		position: fixed;
		top: 0;
		-webkit-transition: left 0.3s ease;
		transition: left 0.3s ease;
		width: 240px;
		z-index: 9999;
		overflow: scroll;
	}
	.main-navigation.toggled .menu {
		left: 0;
	}
	.main-navigation li {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.loading {
	position: relative;
}

.loading::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: #000;
	background-image: url(img/loading.gif);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
	pointer-events: none;
}

.loading.loaded::before {
	opacity: 0;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

img.gallx:hover {
	opacity: 0.85;
}

/*--------------------------------------------------------------
## Custom CSS
--------------------------------------------------------------*/
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: auto;
}

.site-header {
}

.home .site-header {
	position: absolute;
	width: 100%;
	padding: 40px 20px;
}

html,
body.home {
	height: 100%;
}

body.home .page {
	height: 100%;
	padding-bottom: 50px;
}

body.home .page > div.wrap {
	position: fixed;
	top: 150px;
	left: 0;
	left: calc((100vw - 1080px) / 2);
	max-width: 340px;
	font-weight: bold;
	transition: color 0.3s ease;
	display: none;
}
body.home.theme-light .page > div.wrap {
	color: white;
}

@media (min-width: 1100px) {
	body.home .page > div.wrap {
		display: block;
	}
}

body.home .site-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 0 16px;
}

body.home .site-footer .wrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 50px;
}

body.home .site-footer .copyright {
	position: static;
	width: auto;
	margin: 1em 2em;
}

body.home .site-footer .small-logo {
	display: none;
}

body.home .site-footer .social {
	margin-top: 0;
}

.page-header {
	height: 33vh;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.page-header img.headimg {
	max-width: none;
	margin: auto;
	width: 100%;
	object-fit: cover;
	height: 100%;
}

img.headimg {
	width: 100%;
}

.site-branding {
	max-width: 458px;
	margin: 35px auto 20px auto;
}

.site-branding img {
	display: block;
	margin: 0;
}

body.theme-light .logo .logo--text {
	fill: #fff;
}
body.theme-dark .logo .logo--text {
	fill: #000;
}

body.scheme-grey .logo .logo--slash {
	fill: #bcbec0;
}
body.scheme-red .logo .logo--slash {
	fill: #bcbec0;
}
body.scheme-green .logo .logo--slash {
	fill: #bcbec0;
}
body.scheme-yellow .logo .logo--slash {
	fill: #bcbec0;
}

.site-title {
	margin: 0;
}

.site-content {
}

.content-area {
}

.site-main {
}
.archive .site-main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: wrap;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 0 90px;
}

.post {
}
.archive .post {
	-webkit-flex: 1 0 270px;
	-ms-flex: 1 0 270px;
	-webkit-box-flex: 1;
	flex: 1 0 270px;
	text-align: center;
	position: relative;
	margin: 90px 0 0;
}

.post-gallery {
	padding: 0;
}

.gallery-for {
	margin-bottom: 16px;
}

.gallery-nav {
	margin-bottom: 32px;
}

.gallery-thumb {
	cursor: pointer;
	margin-right: 16px;
}

.post-content {
	padding: 0 0 0 16px;
}

.entry-header {
}
.archive .entry-header {
	pointer-events: none;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	opacity: 0;
	z-index: 10;
}
.archive .post:hover .entry-header {
	opacity: 1;
}
.single .entry-header {
	border-top: 1px solid #808080;
	padding: 40px 0 36px;
}

.entry-title {
}
.archive .entry-title {
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 1px 1px 5px black;
}
.archive .entry-title a {
	color: white;
	text-decoration: none;
}
.single .entry-title {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.entry-content {
}

.post-link {
	display: inline-block;
	position: relative;
}

.archive .post-link::before {
	background: rgba(0, 0, 0, 0);
	content: "";
	display: block;
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
	z-index: 1;
}
.archive .post-link:hover::before {
	background: rgba(0, 0, 0, 0.5);
}

.post-img {
	display: block;
	margin: 0 auto;
}

.pattern {
	width: 100%;
	height: 115px;
	background-image: url(img/pattern-banner.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

.site-footer {
}

.site-footer a {
	color: white;
	text-decoration: none;
}

.site-footer a:hover {
	text-shadow: 2px 2px 2px rgba(44, 46, 46, 0.9);
}

.site-info {
	/* float: left; */
}

.footer-navigation {
	text-align: right;
}

.footer-navigation .menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-navigation li {
	display: inline-block;
}

.footer-navigation a {
	display: block;
	font-size: 15px;
	margin: 0 0 0 16px;
	padding: 0;
}

@media screen and (max-width: 1064px) {
	.container {
		max-width: none;
		padding: 0 32px;
	}

	.pattern {
		background-size: 140% auto;
	}
}

@media screen and (max-width: 874px) {
	.archive .site-main {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin: 0 -8px 45px;
	}

	.archive .post {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.33%;
		-ms-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
		margin: 45px 0 0;
		padding: 0 8px;
	}
}

@media screen and (max-width: 768px) {
	.site-branding {
		max-width: 85%;
	}

	.archive .post {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		margin: 0 0 45px;
	}

	.pattern {
		background-size: 200% auto;
	}

	.post-content {
		padding-left: 0;
	}
}

.current-menu-item > a {
	border-bottom: 1px dotted;
	font-weight: bold;
}

.current-menu-item > a::before {
	opacity: 0 !important;
}

.sub-menu {
	width: 160px;
}

.sub-menu a {
	margin: 0;
}

.sub-menu li {
	margin: 0 15px;
	float: left;
}

.slider-sections .slider-section--title {
	font-size: 2.8rem;
}

@media screen and (max-width: 375px) {
	.slider-sections .slider-section--title {
		font-size: 2.3rem;
	}
}

.main {
	max-width: 66%;
	width: 100%;
	padding: 0 6% 0 0;
	display: inline-block;
}

.side {
	max-width: 33%;
	width: 100%;
	padding: 0 0 0 3%;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

.single-projects .side {
	margin-top: 0;
}

.about.side {
	margin-top: 20px;
}

.hero-title {
	text-align: center;
	margin: 30px 0 92px 0;
	font-weight: 600;
}

.project-category {
	position: relative;
	max-width: 30%;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 3% 0;
}

.project-category:nth-child(3n + 2) {
	margin: 0 3%;
}

.project-category-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	font-size: 1.1875rem;
	font-weight: bold;
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	color: white;
	text-transform: uppercase;
}

.project-category img,
.project img,
.image img {
	display: block;
}

body.staff .image img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: 0.3s;
}
body.staff .image:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

@media (min-width: 720px) {
	.project-category img,
	.project img,
	.image img {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		transition: 0.3s;
	}

	.project-category:hover img,
	.project:hover img,
	.image:hover img {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}
}

.view-link {
	text-align: right;
	display: block;
	padding: 0 16px 12px 0;
	color: #bbbcbe;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.4px;
}

.view-link:hover {
	color: #bbbcbe;
}

.wrap {
	word-wrap: break-word;
}

.entry-title {
	font-weight: 600;
	font-size: 25px;
	border-top: 1px dotted rgba(0, 0, 0, 0.3);
	padding-top: 20px;
	margin-top: 10px;
}

.entry-title a {
	text-decoration: none;
	color: black;
	display: block;
}

.entry-header {
	display: inline-block;
	display: block;
}

.blog .blog-image {
	max-width: 50%;
	width: 50%;
	padding: 10px 40px 0 0;
	display: inline-block;
	vertical-align: top;
}

.blog-content {
	max-width: 49%;
	display: inline-block;
}

.site-main {
	padding: 46px 0;
}

.project,
.image {
	position: relative;
	max-width: 30%;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 1% 0;
}

.project:hover,
.image:hover {
	text-decoration: none;
}

.project:nth-child(3n + 2),
.image:nth-child(3n + 2) {
	margin: 0 3%;
}

.project-title,
.image-caption {
	color: #515151;
	display: block;
	font-weight: bold;
	font-size: 15px;
}

.project-address {
	color: grey;
	display: block;
	font-size: 15px;
}

.project-details,
.image-details {
	padding: 2px 5px 0 5px;
}

.project-header {
	padding: 50px 0 50px 0;
	margin-bottom: 50px;
}

.project-header-title {
	text-align: center;
	font-weight: 600;
	font-size: 25px;
	margin: 0 0 20px 0;
}

.single-projects .background-image-container {
	position: static;
}

.background-image-container {
	position: absolute;
	background-repeat: no-repeat;
	z-index: -1;
}

.single-projects .site-footer .wrap {
	margin-top: 0;
}

.title {
	font-weight: bold;
	margin: 30px 0 30px 0;
}

.project-detail,
.image-caption {
	display: block;
}

.project-detail strong {
	line-height: 2.2;
}

.project-details-title {
	display: block;
	font-size: 130%;
	text-transform: uppercase;
	margin-bottom: 12px;
	padding-bottom: 6px;
	border-bottom: 1px solid #404040;
}

.projectcats {
	font-weight: 400;
	color: #0f81a4;
	display: block;
	margin-bottom: 20px;
}

.gallery {
	margin: 50px 0 30px 0;
}

body.staff .images {
	display: flex;
	flex-flow: wrap;
}

body.staff .images .image {
	margin: 1em;
	width: calc(33.33% - 2em);
	text-align: center;
	color: #404040;
}

body.staff .images .name {
	font-weight: 700;
	font-size: 1em;
	margin-bottom: 0;
}

body.staff .images .position {
	font-weight: 300;
	font-size: 0.8em;
	margin-bottom: 0;
}

.page .wrap:not(.site-header) {
	padding: 0 16px;
}

.site-footer .wrap {
	padding: 0 !important;
}

@media screen and (max-width: 768px) {
	.main {
		max-width: 100%;
		display: block;
		padding: 0;
	}

	.side {
		max-width: 100%;
		display: block;
		padding: 0;
	}

	.project-category,
	.project,
	.image {
		max-width: 100%;
	}

	.project-category:nth-child(3n + 2),
	.project:nth-child(3n + 2),
	.image:nth-child(3n + 2) {
		margin: 0 0 3% 0;
	}

	.current-menu-item > a,
	.menu-item a:before {
		border-bottom: none !important;
	}

	.blog-image {
		max-width: 100% !important;
		width: 100% !important;
		padding: 0 !important;
	}

	.blog-content {
		max-width: 100% !important;
		width: 100% !important;
	}

	.entry-title {
		border-top: none;
	}

	.type-post {
		border-top: 1px dotted rgba(0, 0, 0, 0.3);
		padding-top: 30px;
	}

	.single-post .type-post {
		border-top: none;
		padding-top: 0;
	}

	.type-post:nth-child(2) {
		border-top: none;
		padding-top: 0;
	}

	.main-navigation a {
		color: black !important;
	}

	.sub-menu {
		position: unset !important;
		float: unset;
		margin: 0 0 0 13px !important;
	}

	.sub-menu li {
		float: unset;
	}

	.main-navigation ul ul {
		float: unset !important;
	}
}

.slider {
	background-color: #333;
	height: 100vh;
	width: 100%;
}

.slick-initialized .slide {
	display: flex;
}
.slide {
	display: flex;
	background-color: #232323;
	opacity: 1;
	margin: 0;
	max-width: none;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slide.image {
	margin-left: 0;
	margin-right: 0;
}

.slide picture {
	display: flex;
	height: 100%;
	width: 100%;
}

.slide img,
.slide iframe {
	display: block;
	filter: none;
	object-fit: cover;
	object-position: bottom;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

/* Set scale same as animation end state */
/* so there is no jump when transition ends */
.slick-slide img {
	transform: scale(1.1);
}

@media (min-width: 720px) {
	.slide.zoom img {
		transform: scale(1);
		animation: pulse 6s linear forwards;
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

.slide--attribute {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
	font-size: 16px;
}

.slide--description {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: white;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	z-index: 100;
}

.slide--description:hover {
	color: white;
}

.slide--description a {
	color: inherit;
}

.slider-categories {
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: 60%;
	/* z-index: 10; */
}

.slider-categories h2 {
	font-size: 2.875rem;
	transition: all 1s ease-in-out;
	max-width: 370px;
	margin: 0 auto;
	color: white;
	opacity: 0.6;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

@media screen and (max-width: 700px) {
	.slider-categories {
		transform: none;
		left: 5%;
		width: 90%;
	}
	.slider-categories h2 {
		font-size: 2rem;
		max-width: none;
	}

	.slide--description {
		font-size: 16px;
		bottom: 48px;
	}

	.slide--attribute {
		right: auto;
		left: 20px;
	}
}

body.scheme-red .slider-categories .red h2 {
	color: #f37578;
	opacity: 1;
}
body.scheme-green .slider-categories .green h2 {
	color: #5cbc6e;
	opacity: 1;
}
body.scheme-yellow .slider-categories .yellow h2 {
	color: #ffd800;
	opacity: 1;
}

@media screen and (min-width: 768px) {
	/* hack for mobile menu on single projects */
	.single-projects .site-header {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		position: absolute;
		width: 100%;
		top: 0;
		left: 50%;
	}
}

@media screen and (max-width: 768px) {
	.single-projects .site-header {
		position: absolute;
		width: 100%;
		top: 0;
	}
}

.contact-map iframe {
	width: 100%;
	height: 600px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.lede {
	line-height: 1.5;
}

img.headimg {
	margin-bottom: 20px;
}

.parallax-mirror {
	z-index: 1 !important;
}

.iframe-wrap {
	height: 0;
	width: 100vw;
	max-width: none;
	position: absolute; /* absolute makes the iframe fill the whole screen */
	padding-bottom: 56.25%;
	padding-top: 25px;
}

.iframe-wrap iframe {
	border: none;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: fill; /* cover leaves gap on safari */
}

@media (orientation: portrait) {
	.iframe-wrap {
		padding-bottom: 100vh;
		width: 370vw;
	}
}

:root {
	--size: 32px;
}

.slick-next,
.slick-prev {
	background-color: rgba(0, 0, 0, 0.68);
	border-radius: 0;
	border: none;
	text-shadow: none;
	box-shadow: none;
	height: var(--size);
	width: var(--size);
	left: calc(0px - var(--size));
	z-index: 2;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 0px;
	text-align: center;
	transition: left 0.3s ease, right 0.3s ease, background-color 0.3s ease;
}
.slick-next:focus,
.slick-prev:focus,
.slick-next:hover,
.slick-prev:hover {
	box-shadow: none;
	background-color: black;
}

.slick-next::before,
.slick-prev::before {
	font-size: var(--size);
	line-height: 0px;
	content: "\2227";
	transform: rotate(-90deg);
	color: white;
	display: block;
	font-weight: 700;
	height: 12px;
}

.slick-next::before:hover,
.slick-prev::before:hover {
	color: white;
}

.slick-next {
	left: auto;
	right: calc(0px - var(--size));
}
.slick-next::before {
	transform: rotate(90deg);
}

.slick-prev {
}
.slick-prev::before {
}

.slick-slider:active .slick-prev,
.slick-slider:focus .slick-prev,
.slick-slider:hover .slick-prev {
	left: 0px;
}
.slick-slider:active .slick-next,
.slick-slider:focus .slick-next,
.slick-slider:hover .slick-next {
	right: 0px;
}

.slick-list,
.slick-track {
	height: 100%;
}

.slick-slide {
}

.slick-initialized .slick-slide {
	display: flex;
}

.pagenav ul {
	list-style: none;
	margin-left: 0;
}

.pagenav ul a {
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	font-size: 0.9375rem;
	padding: 15px 0;
	position: relative;
	color: black;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.pagenav ul a.active:before,
.pagenav ul a:hover:before {
	opacity: 1;
	bottom: 0;
}
.pagenav ul a:before,
.pagenav span a:before {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	left: 0;
	bottom: 10px;
	opacity: 0;
	border-bottom: 1px dotted;
}

.pagenav span a:before {
	opacity: 1;
}

.pagenav span a {
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	font-size: 0.9375rem;
	padding: 15px 0;
	position: relative;
	color: black;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.pagenav {
	list-style: none;
}

.staff .image-details {
	text-align: center;
	margin-top: 15px;
}
.staff .image-image {
	border-radius: 100%;
}
